<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cocoon-plugin-notifications-ios-parse" version="1.0.0">
    <name>CocoonNotificationsPushParse</name>
    <description>Cocoon Push Notifications API using Parse</description>
    <license>MPL 2.0</license>
    <keywords>cordova,inapps,push,notification,local,remote,parse,cocoon,atomic,plugins</keywords>
    <repo>https://github.com/ludei/atomic-plugins-notifications</repo>    
    <js-module src="www/cocoon_notifications_parse.js" name="Notifications">
        <runs/>
    </js-module>

    <platform name="ios">
        <header-file src="src/ios/LDNotificationParsePlugin.h" />
        <source-file src="src/ios/LDNotificationParsePlugin.m" />
        <framework src="src/ios/Parse.framework" custom="true" />
        <framework src="src/ios/Bolts.framework" custom="true" />
        <framework src="libsqlite3.tbd" />
        <framework src="SystemConfiguration.framework" />

         <config-file target="config.xml" parent="/*">
            <feature name="LDNotificationParsePlugin">
                <param name="ios-package" value="LDNotificationParsePlugin" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>remote-notification</string>
            </array>
        </config-file>
        
        <dependency id="cocoon-plugin-notifications-common" />
    </platform>
</plugin>